[submodule "C6Runtime/third_party/GLFW"]
	path = C6Runtime/third_party/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "C6Runtime/third_party/glfw"]
	path = C6Runtime/third_party/glfw
	url = https://github.com/glfw/glfw.git
